/SelectEfficiency/SocketTest/Debug/SocketTest.tlog/*.tlog
/SelectEfficiency/SocketTest/Debug/SocketTest.tlog/*.lastbuildstate
/SelectEfficiency/SocketTest/Debug/*.idb
/SelectEfficiency/*.sdf
/Echo/CSharpAwaitServer/ListenAwait/obj
/Echo/CSharpAwaitServer/ListenAwait/bin
